@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #E0E0E0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-obsidian: #050505;
  --color-neon-purple: #A855F7;
  --color-deep-crimson: #D00000;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-noto-serif-jp);

  --animate-glitch: glitch 1s linear infinite;
  --animate-fade-in-up: fadeInUp 1s ease-out forwards;

  @keyframes glitch {

    2%,
    64% {
      transform: translate(2px, 0) skew(0deg);
    }

    4%,
    60% {
      transform: translate(-2px, 0) skew(0deg);
    }

    62% {
      transform: translate(0, 0) skew(5deg);
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes scanline {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 100vh;
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #000;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #A855F7;
}